{% match credential_value %}

{% when crate::credential::CredentialType::Ssh(val) %}
<div class="uk-margin">
    <input class="uk-input" type="text" name="val.username" placeholder="Username" value="{{ val.username }}" />
</div>

<div class="uk-margin">
    <input class="uk-input" type="text" name="val.private_key" placeholder="Private Key"
        value="{{ val.private_key }}" />
</div>

{% when crate::credential::CredentialType::Text(val) %}
<div class="uk-margin">
    <input class="uk-input" type="text" name="val.text" placeholder="Text" value="{{ val.value }}" />
</div>

{% endmatch %}