{% extends "fragment-base.html" %}

{% block body %}
{% for credential in credentials %}
<div class="card">
    <div class="card-header">
        <h2>{{ credential.id }}</h2>
    </div>
    <div class="card-body">
        {% match credential.value %}
        {% when crate::credential::CredentialType::Text(val) %}
        <p>{{ val.value }}</p>
        {% when crate::credential::CredentialType::Ssh(val) %}
        <p>Username: {{ val.username }}</p>
        <p>Private Key: {{ val.private_key }}</p>
        {% endmatch %}
    </div>
</div>
{% endfor %}
{% endblock %}