{% match credential_value %}

{% when CredentialType::Ssh(val) %}
<div class="uk-margin">
    <label class="uk-form-label">Username</label>
    <div class="uk-form-controls">
        <input class="uk-input" type="text" name="value.username" placeholder="Username" value="{{ val.username }}" />
    </div>
</div>

<div class="uk-margin">
    <label class="uk-form-label">Private Key</label>
    <div class="uk-form-controls">
        <textarea class="uk-textarea" rows="4" name="value.private_key"
            placeholder="Private Key">{{ val.private_key }}</textarea>
    </div>
</div>

{% when CredentialType::Text(val) %}
<div class="uk-margin">
    <label class="uk-form-label">Text</label>
    <div class="uk-form-controls">
        <input class="uk-input" type="text" name="value.text" placeholder="Text" value="{{ val.value }}" />
    </div>
</div>

{% endmatch %}