{% extends "fragment-base.html" %}

{% block body %}
<table class="uk-table uk-table-middle uk-table-divider">
    <thead>
        <tr>
            <th class="uk-width-small">ID</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for credential in credentials %}
        <tr>
            <td>{{ credential.id }}</td>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            </td>
            <td>
                <button class="uk-button uk-button-default" type="button">
                    <a href="/credentials/{{ credential.id }}">View</a>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}