{% extends "fragment-base.html" %}

{% block body %}
<div class="uk-container uk-container-large uk-margin">
    <div class="uk-card uk-card-default">
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-middle uk-table-divider uk-table-hover">
                <thead>
                    <tr>
                        <th class="uk-width-small">ID</th>
                        <th>Type</th>
                        <th>Read Only</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for credential in credentials %}
                    <tr>
                        <td>{{ credential.id }}</td>
                        <td>
                            {% match credential.value %}
                            {% when CredentialType::Ssh(_) %}SSH
                            {% when CredentialType::Text(_) %}Text
                            {% when CredentialType::Env(_) %}Env
                            {% endmatch %}
                        </td>
                        <td>{{ credential.read_only }}</td>
                        <td>{{ credential.created_at }}</td>
                        <td>{{ credential.updated_at }}</td>
                        <td>
                            <a href="/credentials/{{ credential.id }}"
                                class="uk-button uk-button-default uk-button-small">
                                View
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}