{% extends "fragment-base.html" %}

{% block body %}

<form>
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">Credential</legend>

        <div class="uk-margin">
            <input class="uk-input" type="text" name="id" placeholder="ID" {% if credential.is_some() %}
                value="{{ credential.unwrap().id }}" {% endif %} />
        </div>

        <div class="uk-margin">
            <input class="uk-checkbox" type="checkbox" name="read_only" {% if credential.is_some() && credential.unwrap().read_only %} checked {% endif
                %}> Read Only
            </input>
        </div>

        <div class="uk-margin">
            <select class="uk-select" name="type">
                {% if credential.is_some() %}
                <option value="ssh" {% match credential.unwrap().value %} {% when
                    crate::credential::CredentialType::Ssh(_) %} selected {% else %} {% endmatch %}>SSH</option>
                <option value="text" {% match credential.unwrap().value %} {% when
                    crate::credential::CredentialType::Text(_) %} selected {% else %} {% endmatch %}>Text</option>
                {% else %}
                <option value="ssh">SSH</option>
                <option value="text">Text</option>
                {% endif %}
            </select>
        </div>

        {% if credential.is_some() %}
        {% match credential.unwrap().value %}

        {% when crate::credential::CredentialType::Ssh(val) %}
        <div class="uk-margin">
            <input class="uk-input" type="text" name="val.username" placeholder="Username" value="{{ val.username }}" />
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" name="val.private_key" placeholder="Private Key"
                value="{{ val.private_key }}" />
        </div>

        {% when crate::credential::CredentialType::Text(val) %}
        <div class="uk-margin">
            <input class="uk-input" type="text" name="val.text" placeholder="Text" value="{{ val.value }}" />
        </div>

        {% endmatch %}
        {% endif %}


        <div class="uk-margin">
            <button class="uk-button uk-button-primary">Submit</button>
        </div>

    </fieldset>
</form>


{% endblock %}