{% extends "fragment-base.html" %}

{% block body %}

<div class="uk-container uk-margin">
    <form method="post" action="/api/jobs" onsubmit="submitString(event, '#job', 'application/yaml')">
        <fieldset class="uk-fieldset">
            <div class="uk-margin">
                <div id="code-container" style="width: 800px; height: 600px; border: 1px solid grey"></div>
                <input type="hidden" id="job" name="job" value="">
            </div>

            <div class="uk-margin">
                <button class="uk-button uk-button-primary">Submit</button>
            </div>

            <div class="uk-margin">
                <button type="button" class="uk-button uk-button-default" onclick="dryRun()">Dry Run</button>
            </div>
        </fieldset>
    </form>
</div>

<script>
    function decodeHtmlString(html) {
        const txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
    }

    let value = `{% if job.is_some() %}{{ job.unwrap() }}{% else %}{% endif %}`;
    value = decodeHtmlString(value).replace(/&quot;/g, '"');

    var editor = monaco.editor.create(document.getElementById('code-container'), {
        value,
        language: 'yaml',
        theme: 'vs-dark'
    });

    document.querySelector('#job').value = value;
    editor.onDidChangeModelContent(() => {
        document.querySelector('#job').value = editor.getValue();
    });

    async function dryRun() {
        const job = editor.getValue();
        const response = await fetch('/api/jobs/dry-run', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/yaml'
            },
            body: job
        });

        const result = await response.text();
        if (response.ok) {
            alert("Success");
        } else {
            alert(`Error: ${result}`);
        }
    }
</script>

{% endblock %}