{% extends "fragment-base.html" %}

{% block body %}
<div class="uk-container uk-container-large uk-margin">
    <div class="uk-card uk-card-default">
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-middle uk-table-divider uk-table-hover">
                <thead>
                    <tr>
                        <th class="uk-width-small">ID</th>
                        <th>Name</th>
                        <th>Parameters</th>
                        <th>Triggers</th>
                        <th>Script ID</th>
                        <th>Read Only</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                    <tr>
                        <td>{{ job.id }}</td>
                        <td>{{ job.name }}</td>
                        <td>{{ job.parameters.len() }}</td>
                        <td>{{ job.triggers.len() }}</td>
                        <td>{{ job.script_id }}</td>
                        <td>{{ job.read_only }}</td>
                        <td>
                            <a href="/jobs/{{ job.id }}" class="uk-button uk-button-default uk-button-small">
                                View
                            </a>
                            <button onclick="runJob('{{ job.id }}')"
                                class="uk-button uk-button-primary uk-button-small">
                                Run
                            </button>
                            <a href="/jobs/create?from-job-id={{ job.id }}"
                                class="uk-button uk-button-primary uk-button-small">
                                Clone job
                            </a>
                            <a href="/scripts/{{ job.script_id }}" class="uk-button uk-button-default uk-button-small">
                                View script
                            </a>
                            <a href="/job-results?job-id={{ job.id }}"
                                class="uk-button uk-button-default uk-button-small">
                                View results
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    async function runJob(jobId) {
        try {
            const response = await fetch(`/api/jobs/${jobId}/execute`, {
                method: 'POST'
            });

            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            window.location.href = `/job-results/${(await response.text())}`;
        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>
{% endblock %}