{% extends "fragment-base.html" %}

{% block body %}

<form method="post" action="/api/scripts" onsubmit="submitString(event, '#script', 'application/yaml')">
    <fieldset class="uk-fieldset">
        <div id="code-container" style="width: 800px; height: 600px; border: 1px solid grey"></div>
        <input type="hidden" id="script" name="script" value="">

        <div class="uk-margin">
            <button class="uk-button uk-button-primary">Submit</button>
        </div>
    </fieldset>
</form>

<script>
    function decodeHtmlString(html) {
        const txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
    }

    let value = `{% if script.is_some() %}{{ script.unwrap() }}{% else %}{% endif %}`;
    value = decodeHtmlString(value).replace(/&quot;/g, '"');

    var editor = monaco.editor.create(document.getElementById('code-container'), {
        value,
        language: 'yaml',
        theme: 'vs-dark'
    });

    editor.onDidChangeModelContent(() => {
        document.querySelector('#script').value = editor.getValue();
    });
</script>

{% endblock %}