{% extends "fragment-base.html" %}

{% block body %}
<div class="uk-container uk-container-large uk-margin">
    <div class="uk-card uk-card-default">
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-middle uk-table-divider uk-table-hover">
                <thead>
                    <tr>
                        <th class="uk-width-small">ID</th>
                        <th>Name</th>
                        <th>Parameters</th>
                        <th>Steps</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for script in scripts %}
                    <tr>
                        <td>{{ script.id }}</td>
                        <td>{{ script.name }}</td>
                        <td>{{ script.parameters.len() }}</td>
                        <td>{{ script.steps.len() }}</td>
                        <td>
                            <a href="/scripts/{{ script.id }}" class="uk-button uk-button-default uk-button-small">
                                View
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}