{% match script_type %}

{% when crate::script::ScriptType::Bash(val) %}
<div class="uk-margin">
    <textarea class="uk-textarea" name="value.code" placeholder="Bash Code" rows="5">{{ val.code }}</textarea>
</div>

{% when crate::script::ScriptType::GitClone(val) %}
<div class="uk-margin">
    <input class="uk-input" type="text" name="value.url" placeholder="Repository URL" value="{{ val.url }}" />
</div>
<div class="uk-margin">
    <input class="uk-input" type="text" name="value.credential_id" placeholder="Credential ID (Optional)" {% if
        val.credential_id.is_some() %} value="{{ val.clone().credential_id.unwrap() }}" {% endif %} />
</div>
<div class="uk-margin">
    <input class="uk-input" type="text" name="value.branch" placeholder="Branch (Optional)" {% if val.branch.is_some()
        %} value="{{ val.clone().branch.unwrap() }}" {% endif %} />
</div>

{% when crate::script::ScriptType::Sync(val) %}
<div class="uk-margin">
    <input class="uk-input" type="text" name="value.directory" placeholder="Directory Path"
        value="{{ val.directory }}" />
</div>

{% endmatch %}